<div id="container">
  
  <header>
    
    <h1>Reviews</h1>
    
    <nav>
      
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/recipes">View all recipes</a></li>
        <li><a href="/recipes/<%= @recipe.id %>">Return to recipe</a></li>
        <li><a href="/recipes/<%= @recipe.id %>/reviews/new">Add a new review for recipe: <%= @recipe.name %></a></li>
      </ul>
      
    </nav>
    
  </header>
  
  <div id="main">
    
    <% @review.each do |r| %>
    
      <table>
        <tr>
          <td>
            <a><%= r.text %></a><br/><br/>
            <a href="/recipes/<%= @recipe.id %>/reviews/<%= r.id %>/edit">Edit</a> 
            <a href="/recipes/<%= @recipe.id %>/reviews/<%= r.id %>/delete">Delete</a></br>
          </td>
        </tr>
      </table>

    <% end %>
    
  </div>
  
</div>