<h1><%= @recipe.name %></h1>

  <a href="/recipes/<%= @recipe.id %>/edit">Edit</a>
  <a href="/recipes/<%= @recipe.id %>/delete">Delete</a></br></br>
  
  <a>Servings: <%= @recipe.servings %></a></br>
  <a>Prep_time: <%= @recipe.prep_time %></a></br>
  <a>Cook_time: <%= @recipe.cook_time %></a></br>
  
  
  <h4>Ingredients</h4>
  
  <% @recipe.ingredients.each do |i|  %>
  
    <a><%= i.name %></a></br>
    
  <%end %>
      
</br><a href="/recipes/<%= @recipe.id %>/reviews">See this recipe's reviews.</a>
