<h1>Edit Recipe</h1>

<form action="/users/<%= @recipe.id %>/update" method="post">
  
  <p>Name: <input type="text" name="name" value="<%= @recipe.name %>"></p>
  
  <p>Serving Size: <input type="text" name="servings" value="<%= @recipe.servings %>"></p>
  
  <p>Prep Time: <input type="text" name="prep_time" value="<%= @recipe.prep_time %>"></p>
  
  <p>Cook Time: <input type="test" name="cook_time" value="<%= @recipe.cook_time %>"></p>
  
  <input type="submit">
</form>